:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-text-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-color);
}

header {
  margin-top: 24px;
  margin-bottom: 25px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.filtr-btn {
  background: #f5f4fa;
  border-radius: 4px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.current {
  color: var(--accent-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-text-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo-flx {
  display: flex;
  margin-right: 94px;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo-color-dark {
  color: var(--first-text-color);
}
.logo-color-light {
  color: var(--third-text-color);
}

.menu-list {
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: block; */
  /* align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  cursor: pointer;
  /* margin-left: auto;
  margin-right: auto; */
}

.btn:hover,
.btn:focus {
  color: var(--third-text-color);
  background-color: #188ce8;
}
.bgc {
  background-color: #2f303a;
}
.solutions {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 452px;
  padding-right: 452px;
  margin-bottom: 94px;
}
.slogan {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);
  margin-bottom: 30px;
}

.index-btn {
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: var(--third-text-color);
  background: var(--accent-text-color);
  border-radius: 4px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.advant {
  margin-bottom: 94px;
}
.advant-list {
  display: flex;
}
.advant-item {
  width: 270px;
  height: 101px;
}
.between-item:not(:last-child) {
  margin-right: 30px;
}
.advant-pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}
.advant-about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.about {
  margin-bottom: 94px;
}
.title {
  margin-bottom: 50px;
}
.about-title {
  margin-bottom: 50px;
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.team {
  background-color: #f5f4fa;
  margin-bottom: 94px;
}
.team-list {
  display: flex;
}
.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.manager-name-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
  margin-bottom: 10px;
}

.manager-spec-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.footer-contacts {
  padding-top: 60px;
  padding-left: 215;
  padding-bottom: 60px;
}
.footer-list {
  display: flex;
  margin-top: 20px;
  align-content: center;
}
.footer-adr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-between-item:not(:last-chaild) {
  margin-bottom: 9px;
}
.portfolio-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: inherit;
}
.portfolio-project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
